{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#navbar-logs").addClass("active");
        });
    </script>

    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Date and time" %}</th>
                <th>{% trans "Action" %}</th>
                <th>{% trans "User" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for log in content.logs %}
            <tr>
                <td>{{ forloop.revcounter }}</td>
                <td>{{ log.date }}</td>
                <td>{{ log.get_action_display }}</td>
                <td>{{ log.user.username|default:"<span class='muted'>---</span>" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}