{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <dl class="dl-horizontal">
        <dt>{% blocktrans %}Date and time{% endblocktrans %}</dt>
        <dd>{{ view_log.date }}</dd>
        <dt>{% blocktrans %}Action{% endblocktrans %}</dt>
        <dd>{{ view_log.get_action_display }}</dd>
        <dt>{% blocktrans %}User{% endblocktrans %}</dt>
        <dd>{% if view_log.user %}{{ view_log.user.get_full_name|default:view_log.user.username }}{% else %}---{% endif %}</dd>
        <dt>{% blocktrans %}Command{% endblocktrans %}</dt>
        <dd>{{ view_log.os_system|default:"---" }}</dd>
        <dt>{% blocktrans %}Exit code{% endblocktrans %}</dt>
        <dd>{{ view_log.os_system_code }}</dd>
    </dl>
{% endblock %}