{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ data.app.author }} <{{ data.app.author_email }}>">
    {#    <link rel="shortcut icon" href="../../assets/ico/favicon.png">#}

        <title>{{ page_title|default:"=)" }} &middot; {{ data.app.name }}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {#    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">#}

        <!-- Custom styles for this template -->
        <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{% static 'js/html5shiv.js' %}"></script>
          <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->
        <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'js/myadmin.js' %}"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">{{ data.app.name }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="navbar-home"><a href="{% url 'home' %}">{% trans "Dashboard" %}</a></li>
                        <li id="navbar-users"><a href="{% url 'users' %}">{% trans "Users" %}</a></li>
                        <li id="navbar-modules"><a href="{% url 'modules' %}">{% trans "Modules" %}</a></li>
                        <li id="navbar-logs"><a href="{% url 'logs' %}">{% trans "Logs" %}</a></li>
                        <li id="navbar-about"><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                    </ul>
                    <p class="navbar-text pull-right">
                        {% blocktrans %}Signed in as{% endblocktrans %}
                        <a href="#" class="navbar-link">{{ user.get_short_name|default:user.username }}</a>
                        (<a href="{% url 'logout' %}" class="navbar-link">{% blocktrans %}Sign out{% endblocktrans %}</a>)
                    </p>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->

        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% blocktrans %}Toggle nav{% endblocktrans %}</button>
                    </p>
                    <div class="row">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% ifequal message.tags "error" %}alert-danger{% else %}alert-{{ message.tags }}{% endifequal %}">
                                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                                    <strong>{% if message.tags %}{{ message.tags|capfirst }}!{% endif %}</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div><!--/row-->
                </div><!--/span-->
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="sidebar-nav">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{% blocktrans %}System information{% endblocktrans %}</h3>
                            </div>
                            <div class="panel-body">
                                <strong>OS:</strong> {{ system_info.os_name }}<br>
                                <strong>Hostname:</strong> {{ system_info.hostname }}<br>
                                <strong>Kernel version:</strong> {{ system_info.kernel_version }} <br>
                                <strong>Load Average:</strong>
                                {% for load in data.load_avg %}
                                <span class="
                                {% if load <= 0 %}text-success
                                {% elif load > 1 %}text-info
                                {% elif load > 3 %}text-danger
                                {% elif load > 4 %}text-danger
                                {% endif %}">
                                    {{ load }}
                                </span>{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="well sidebar-nav">
                        <ul class="nav">
                            <li>Modules</li>
                            {% for module in data.modules %}
                                {% if module.in_menu %}
                                <li id="navlist_module-{{ module.app_name }}"><a href="{{ module.main_page }}">{{ module.name }}</a></li>
                                {% endif %}
                            {% empty %}
                                <li><span class="label label-info">{% blocktrans %}No modules are installed{% endblocktrans %}</span></li>
                            {% endfor %}
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
            </div><!--/row-->
            <hr>
            <footer>
                <p><a href="mailto:{{ data.app.author_email }}">{{ data.app.author }}</a> &copy; {{ data.app.name }} v{{ data.app.version }} ({{ data.app.year }})</p>
            </footer>
        </div><!--/.container-->
        {% block scripts %}{% endblock %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/offcanvas.js' %}"></script>
    </body>
</html>